<%-include('../user/layout/userheader.ejs')  %> 


<div class="colorlib-about">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-6 mb-3">
                <div class="video colorlib-video" style="background-image: url(images/women.jpg);">
                    <a href="#" class=""><i class="icon-play3"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-wrap">
                    <h2>Footwear the leading eCommerce Store around the Globe</h2>
                    <p>Vanilla Moon is the leading marketplace for extraordinary new and used menswear and womenswear.
                        By curating a community marketplace together many of sellers in clothing, footwear and accessories from more than 500 cities around the globe, Hosoo offers a curated inventory that is not available anywhere else.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include('../user/layout/userfooter.ejs')  %> 