
<%-include('../user/layout/userheader.ejs') %>
<div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
    <img src="/images/success.jpg" height="500px"width="500px">
        <p> 
            <a href="/vieworder" class="btn btn-primary btn-outline-primary">View Order</a>
            <a href="/shop"class="btn btn-primary btn-outline-primary"><i class="icon-shopping-cart"></i> Continue Shopping</a>
        </p>
    </div>
</div>
<%-include('../user/layout/userfooter.ejs') %>